.pokemon__container {
    width: 250px;
    height: 450px;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffde00;
    border-radius: 1.5em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}
.pokemon__container:hover {
    transform: scale(1.05);
    background-color: #ebcf1e;
}
.image__container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.pokemon__image {
    background-position: center;
    object-fit: cover;
    height: 100%;
}
.pokemon__container h3 {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.2em;
    font-size: 28px;
    color: #cc0000;
}
.pokemon__number {
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #cc0000;
}
.pokemon__type-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 0.5em;
}
.pokemon__type-title {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 16px;
    color: #3b4cca;
}
.pokemon__type {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 16px;
    color: #3b4cca;
    /* word-break: 1em; */
    border: solid 3px #3b4cca;
    background-color: #ebcf1e;
    border-radius: 1em;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
